.text-center {
    text-align: center;
}

.relative {
    position: relative;
}

.m-h-auto {
    margin-left: auto;
    margin-right: auto;
}

.mb0 {
    margin-bottom: 0;
}

.mb30 {
    margin-bottom: 30px;
}

.mt30 {
    margin-top: 30px
}

.fz0 {
    font-size: 0;
}

.ov-hidden {
    overflow: hidden;
}